.container {
  width: 1114px;
  margin: 0 auto;
}

body {
  width: 10%;
}

.nav {
  width: 530px;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  box-sizing: border-box;
}
.nav li {
  display: inline-block;
  padding-right: 20px;
}
.hero_btn {
  background-color: coral;
}

.text {
  text-align: left ;
}
.left,
.right {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

.card > div {
  display: inline-block;
  width: 24%;
}

.text {
  width: 486px;
  height: 427px;
  left: 779px;
  top: 2121px;
  position: left;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: auto;
  display: table-caption;
}

.rights {
  width: 20%;
}
.nav_footer {
  width: 530px;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  box-sizing: border-box;
}

.nav_footer ul {
  display: inline-block;
  padding-right: 20px;
}

.nav_btn {
  background-color: coral;
}

.colour {
  background-color: coral;
}
